<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "ReactPeck" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

  </head>
  <body class="bg-white antialiased">
    <main class="px-4 sm:px-6 lg:px-8">
    <header class="sticky top-0 bg-white shadow p-4"><code class="bg-gray-100">Peck Assignment</code></header>
      <div class="mx-auto max-w-2xl">
        <%= @inner_content %>
      </div>
    </main>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </body>
</html>
